#formgrp {
    width: 35%;
    margin-left: 25%;
    margin-top: 10%;    
  }
#formskills {
    width: 100%;
    margin-left: 1.2%;    
    }
#tab1 {
      width: 35%;
      margin-left: 25%;    
      }
