<mat-card>
    <!-- Title of an Card -->
    <mat-card-title>
        Company Registeration
    </mat-card-title>

    <mat-card-content>
        <form>
            <table>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input id="field-companyName" matInput placeholder="Company Name">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input id="field-businessType" matInput placeholder="Business Type">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="1"
                                matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input id="field-phone" matInput placeholder="Phone Number">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input id="field-email" matInput placeholder="Email">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="demo-full-width">
                            <input id="field-web" matInput placeholder="Web Address">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                        <td>
                            <mat-form-field class="demo-full-width">
                                <input id="field-regNumber" matInput placeholder="Registeration Number">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="demo-full-width">
                                <input id="field-vatNumber" matInput placeholder="Tax Registeration Number">
                            </mat-form-field>
                        </td>
                    </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-title>
            <input type="file" accept="image/*" #file style= "visibility:hidden">
            <button mat-stroked-button color="white" (click)="file.click()">Upload Company Logo</button>
    </mat-card-title>
</mat-card>
<br>
<div align="center">
    <button mat-stroked-button color="white" style="margin-right: 5px;">Submit</button>
    <button mat-stroked-button color="white">Clear</button>    
</div>
<br>