<mat-tab-group #setupTabGrp (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Employee List">
    <div>
      <mat-card>
        <mat-card-title>
          Employee List
        </mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <!-- <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let employee of dataSource'>
              <td>{{employee.firstName}}</td>
              <td>{{employee.firstName}}</td>
              </tr>
            </tbody>
          </table> -->


          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="employeeid">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element" (dblclick)="click($event); setupTabGrp.selectedIndex = 1; " id="{{element.employeeid}}">
                {{element.employeeid}} </td>
            </ng-container>


            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element" (dblclick)="click($event); setupTabGrp.selectedIndex = 1;" id="{{element.employeeid}}">
                {{element.firstName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element" (dblclick)="click($event); setupTabGrp.selectedIndex = 1;" id="{{element.employeeid}}">
                {{element.lastName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="dept">
              <th mat-header-cell *matHeaderCellDef> Department </th>
              <td mat-cell *matCellDef="let element" (dblclick)="click($event); setupTabGrp.selectedIndex = 1;" id="{{element.employeeid}}">
                {{element.dept}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element" (dblclick)="click($event); setupTabGrp.selectedIndex = 1;" id="{{element.employeeid}}">
                {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="comments">
              <th mat-header-cell *matHeaderCellDef> Comments </th>
              <td mat-cell *matCellDef="let element" (dblclick)="click($event); setupTabGrp.selectedIndex = 1;" id="{{element.employeeid}}">
                {{element.comments}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
         
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>


  <mat-tab label="Employee Registration">
    <mat-card>
  
      <mat-card-title>
        Employee Registration
      </mat-card-title>
  
      <mat-card-content>
        <div [formGroup]="employeeForm">
          <table>
            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input matInput placeholder="First Name" formControlName="firstName" name='firstName'>                  
                </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Last Name" formControlName="lastName" name='lastName'>                  
                    </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Middle Name" formControlName="middleName" name='middleName'>                  
                  </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Email" formControlName="email" name='email'>                  
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input type="password" matInput placeholder="Paswword" formControlName="password" name='password'>                  
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" name='confirmPassword'>                  
                  </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput [matDatepicker]="picker" placeholder="Hire Date" formControlName="hireDate" name='hireDate'>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput [matDatepicker]="picker1" placeholder="Contract Termination Date" formControlName="endDate" name='endDate'>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Nationality" formControlName="nationality" name='nationality'>                  
                  </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Phone" formControlName="phone" name='phone'>                  
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Department" formControlName="dept" name='dept'>                  
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Manager" formControlName="mgrId" name='mgrId'>                  
                  </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Address" formControlName="address" name='address'>                  
                  </mat-form-field>
              </td>           
              <td>
                  <mat-form-field class="demo-full-width">
                      <input matInput placeholder="Comments" formControlName="comments" name='comments'>                  
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field class="demo-full-width">
                      <input readonly matInput placeholder="Employee ID" formControlName="empId" name='empId' style="color:black" >                  
                  </mat-form-field>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <label>Upload Photo / Photo ID</label>
                <input type="file"  #empPhotoId id="empPhotoId" name="file" #file accept="image/*" (change)="onEmpFileChange($event)">
                <br>
              </td> 
            </tr>              
            </table>
            <div style=" margin-right: 1%;">
              <img *ngIf="empSelectedImage" [src]="empSelectedImage"  style="max-width:300px; max-height:150px; display: block;width: auto;height: auto;" >
            </div>
          </div>
      </mat-card-content>   <br><br><br> </mat-card> <br>
      <div align="right">
      <button  id="submitEmpButton" #empSbmtBtn type="submit" mat-stroked-button color="white" style="margin-right: 5px;" (click)="onEmpSubmit()" disabled >
        Submit</button>
        <button id="resetEmpButton" #empResetBtn type="button" mat-stroked-button color="white" style="margin-right: 5px;" (click)="onEmpReset()" disabled>
          Reset Form</button>
          <br>
          <div  *ngIf="userCreated" style="margin-right: 15px; color: blue;">User Created</div>
          <div  *ngIf="userUpdated" style="margin-right: 15px; color: blue;">User Created</div>
        </div>
      <br>
      <div style="color:red;" *ngIf="error">* Password mismatch</div>      
  </mat-tab>

  <mat-tab label="Company Registration">
    <mat-card>

      <mat-card-title>
        Company Registration
      </mat-card-title>

      <mat-card-content>
        <div [formGroup]="companyForm">
          <table>
            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input matInput placeholder="Company Name" formControlName="companyName" name='company_name'>
                  <mat-error *ngIf="formErrors.companyName">{{formErrors.companyName}}</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input id="field-businessType" matInput placeholder="Business Type" name='business_type'
                    formControlName="businessType" (ngModelChange)="compValChange()">
                  <mat-error *ngIf="formErrors.companyType">{{formErrors.companyType}}</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="1"
                    matAutosizeMaxRows="5" formControlName="compAddress" id="field-compAddress" name='company_address'
                    (ngModelChange)="compValChange()"></textarea>
                  <mat-error *ngIf="formErrors.Address">{{formErrors.Address}}</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input id="field-phoneNumber" matInput placeholder="Phone Number" formControlName="phoneNumber" name='phone_number'
                    (ngModelChange)="compValChange()">
                  <mat-error *ngIf="formErrors.phoneNumber"></mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input id="field-compEmail" matInput placeholder="Email" formControlName="compEmail" name='company_email'
                    (ngModelChange)="compValChange()">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input id="field-webAddress" matInput placeholder="Web Address" formControlName="webAddress" name='web_address'
                    (ngModelChange)="compValChange()">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="demo-full-width">
                  <input id="field-companyRegNum" matInput placeholder="Registeration Number" formControlName="companyRegNum"
                    name='company_reg_number' (ngModelChange)="compValChange()">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width">
                  <input id="field-companyTaxNum" matInput placeholder="Tax Registeration Number" formControlName="companyTaxNum"
                    name='company_tax_number' (ngModelChange)="compValChange()">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <label>Upload Company Logo</label>
                <input type="file" id="companyLogo" name="file" #file accept="image/*" (change)=onFileChange($event)>
                <br>
              </td> 
            </tr>                          
          </table>
          <div style=" margin-right: 1%;">
            <img [src]="compSelectedImage"  style="max-width:300px; max-height:150px; display: block;width: auto;height: auto;" >
          </div>
        </div>
        <br><br>
      </mat-card-content>
    </mat-card>
    <br>
    <div align="center">
      <button id="submitButton" type="submit" mat-stroked-button color="white" style="margin-right: 5px;" (click)=onSubmit()>
        Submit</button>
    </div>
    <br>
  </mat-tab>
</mat-tab-group>